<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://kyliepace.imgix.net/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Code Cadette JavaScript Tech Blog" />
    <meta name="author" content="Kylie Pace />
    <meta name="keywords" content="TypeScript, NodeJS, NestJS, women in tech" />
    <link rel="stylesheet" type="text/css" href="{{ '/public/style.css' | url}}" />
    <meta name="google-site-verification" content="qbNROqebONSW5MNT3Qs2Q4O2z7ZnCHMbKeYOyonsWx4" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="{{ '/' | url}}">🪴 Home</a>
          <span class="divider">|</span>
          <a href="{{ '/posts' | url }}">📝 Posts</a>
          <span class="divider">|</span>
          <a href="{{ '/about' | url }}">🕶 About</a>
          <span class="divider">|</span>
          <a href="https://kyliepace.github.io/book-blog">📖 Secret Bookish Blog</a>
        </div>
      </footer>
    
  </main>
   
  </body>
</html>