---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href='{{ post.url }}'>{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<div class="wrapper--remix">
    <a class="btn--remix" href="https://glitch.com/edit/#!/remix/glitch-hello-eleventy">
      <img src="https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2FLogo_Color.svg?v=1602781328576" /> 
      Remix on Glitch
    </a>
  </div>
