* { box-sizing: border-box}
[hidden] {display: none !important}

/* Our default values set for mobile */
:root {
  --color-bg: #AFECE0;
  --color-text-main: #2800FF;
  --wrapper-height: 90vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
}

/* Tablet portrait */
@media (min-width: 768px) {
  :root {
    --wrapper-height: 90vh;
    --image-max-width: 400px;
    --image-margin: 5rem;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  :root {
    --wrapper-height: 90vh;
    --image-max-width: 500px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  :root {
    --wrapper-height: 90vh;
    --image-max-width: 500px;
  }
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2FHKGrotesk-Regular.otf?v=1602782380076")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2FHKGrotesk-Bold.otf?v=1602782484249")
    format("opentype");
}

/* Global Layout */
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.wrapper {
  min-height: var(--wrapper-height);
  place-items: normal;
  margin-left: 2rem;
  margin-top: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.title-lg {
  color: var(--color-text-main);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
}

.title-md {
  font-size: 56px;
}

/* Layout: Home */

.home {
  align-items: center;
  justify-content: center;
}

/* Post */
.post {
  place-items: normal;
}


/* Navigation grid */
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  padding-top: 2rem;
  width: 50%;
}

.navigation a {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: var(--color-text-main);
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
  color: #694DFF;
}

/* Our remix on glitch button */
.wrapper--remix {
  text-align: right;
  padding-top: 8px;
}

.btn--remix {
  font-family: HK Grotesk;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  display: inline;
}

.btn--remix img {
  margin-right: 0.5rem;
}

.btn--remix:hover {
  background-color: #D0FFF1;
}


/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}
